# requirements.txt

# Core ML/DL Frameworks
torch
torchvision

# Data Handling and Numerical Operations
numpy
pandas

# Image Processing
Pillow
opencv-python

# Machine Learning Utilities
scikit-learn

# Plotting
matplotlib

# Web Framework
streamlit


# streamlit==1.30.0
# torch==2.1.0
# torchvision==0.16.0
# numpy==1.26.2
# pandas==2.1.4
# Pillow==10.1.0
# opencv-python==4.8.1.78
# ultralytics==8.0.227 # Example version, check for the latest or required version
# scikit-learn==1.3.2
# matplotlib==3.8.2
# Use 'pip freeze > requirements.txt' in your working virtual environment
# after installing everything to get the exact versions.